package test

// some comment

// #ifdef pre1
// a1 function return zero value of int
 func a1() int {
// #endif
// #ifdef pre2
// a2 function return zero value of float64
func a2() float64{
// #endif
// templorary variable
	b := 0
	return b
}
